<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for camera and storage (photo attachment) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HarmonieBudgetAppKt"
        tools:targetApi="31">

        <!-- Main Login Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Category Management -->
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />

        <!-- Expense Entry -->
        <activity
            android:name=".ExpenseActivity"
            android:exported="false" />

        <!-- Goal Setting -->
        <activity
            android:name=".GoalActivity"
            android:exported="false" />

        <!-- Expense List View -->
        <activity
            android:name=".ExpenseListActivity"
            android:exported="false" />

        <!-- Category Totals View -->
        <activity
            android:name=".CategoryTotalActivity"
            android:exported="false" />

    </application>

</manifest>